/* General App styling */
.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #282c34;
  font-family: 'Arial', sans-serif;
}

.App-header {
  color: white;
  width: 90%;
  max-width: 960px;
  margin: auto;
}

h1 {
  font-size: 24px;
  color: #abd1c6;
}

p {
  color: #ececec;
  font-size: 16px;
  margin-bottom: 20px;
}

button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px;
  transition: background-color 0.3s;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

/* Video container styling */
.video-container {
  text-align: center;
  margin-top: 20px;
}

video {
  width: 100%; /* Ensures it is responsive */
  max-width: 960px; /* Larger maximum width for larger screens */
  height: auto; /* Maintain aspect ratio */
}

/* Responsive adjustments */
@media (max-width: 768px) {
  h1 {
    font-size: 20px;
  }

  p, button {
    font-size: 14px;
  }

  .App-header {
    width: 95%;
  }
}
